:root {
    --cor-primaria: #FFF;
    --cor-secundaria: #38637E;
    --cor-terciaria: #223D4D;
    --fonte-principal: "Inter";
    --input-width: 13.968em;
    --input-height: 2.063em;
    --input-radius: 30em;
}

/* Evitar barra de rolagem na área de trabalho */

html, body {
    font-family: var(--fonte-principal);
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* Cabeçalho */

.container_header {
    width: 99%;
    height: 15%;

    box-sizing: border-box;
    margin: 0 auto;
    /* border: 2px solid black; */ 
}

.header {
    display: flex;
    justify-content: space-between;

    align-items: center;
}

.nova_tarefa {
    height: 2.75em;
    width: 9.5em;
    border-radius: 3.688em;
    background-color: var(--cor-secundaria);

    color: var(--cor-primaria);
    font-weight: 800;

    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
        width: 10.688em; 
        height: 2.75em;
}


    /* Ícone da conta */

    .conta {
        color: var(--cor-secundaria);

        display: flex;
        align-items: center;
    }
        #account {
            font-size: 4.083em;
        }

        #triangle {
            font-size: 2.228em;
        }

/* Opções para tarefas */

.container_options_tasks {
    height: 99%;
    width: 99%;

    box-sizing: border-box;
    margin: 0 auto;
   /*x border: 2px solid black; */
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    color: var(--cor-terciaria);
}
    #menu, #filter, h1 {
        font-size: 3em;
    }

@media only screen and (max-width: 768px) {
    .container_header {
    width: 95%;
    height: 15%;

    box-sizing: border-box;
    margin: 0 auto;
    /* border: 2px solid black; */ 
}
    
    .options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    color: var(--cor-terciaria);
}
    #menu, #filter, h1 {
        font-size: 3em;
    }

    #Suas_tarefas {
        font-size: 2.308em;
    }

    .nova_tarefa {
    height: 3em;
    width: 7em;
    border-radius: 3.688em;
    background-color: var(--cor-secundaria);

    color: var(--cor-primaria);
    font-size: 0.75em;
    font-weight: 800;

    display: flex;
    align-items: center;
    justify-content: center;
}
    
    #logo {
        width: 6.205em; 
        height: 1.597em;
    }

    /* Conta */

    #account {
            font-size: 2.371em;
    }

    #triangle {
            font-size: 1.293em;
    }
}


