/* Variáveis Globais */
:root {
    --cor-primaria: #FFF;
    --cor-secundaria: #38637E;
    --cor-terciaria: #223D4D;
    --fonte-principal: "Inter";
    --input-width: 13.968em;
    --input-height: 2.063em;
    --input-radius: 30em;
}

/* Estilos Globais */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family: var(--fonte-principal);
}

/* Inputs */
input:not([type="submit"]):not([type="checkbox"]),
input[type="email"],
input[type="password"] {
    background: var(--cor-primaria);
    border-radius: var(--input-radius);
    border: none;
    outline: none;
    height: var(--input-height);
    width: var(--input-width);
    padding-inline: 1em;
    font-family: inherit;
    transition: all 0.3s ease;
    cursor: pointer;
    margin-bottom: 0.5em;
}

input[type="submit"] {
    height: var(--input-height);
    width: var(--input-width);
    border-radius: var(--input-radius);
    border: none;
    outline: none;
    background: var(--cor-terciaria);
    color: var(--cor-primaria);
    font-family: var(--fonte-principal);
}

input[type="submit"]:hover {
    background: #1a2b36;
    transform: scale(1.03);
}

/* Componentes */
.geometric {
    height: 16.17em;
    width: 16.17em;
    background: var(--cor-secundaria);
    border-radius: 1.88em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
}

/* Título principal */
h1 {
    color: var(--cor-primaria);
    font-size: 1.62em;
    font-weight: 900;
}

.login_icon {
        display: flex;
        align-items: center;
        justify-content: center;
    
        color: var(--cor-primaria);
    }
    
    span[class="material-symbols-outlined"] {
        font-size: 1.62em;
    }

a,
.container_options a {
    text-decoration: none;
    color: var(--cor-primaria);
}

a[name="cadastro"] {
    font-size: 0.562em;
}

.container_options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 24em;
    font-size: 0.562em;
    color: var(--cor-primaria);
    margin-bottom: 0.5em;
}

.left {
    display: flex;
    align-items: center;
}

/* Container dos inputs com ícone */
.input-icon,
.input_icon {
    position: relative;
    display: flex;
    align-items: center;
    width: var(--input-width);
    margin-bottom: 0.5em;
}

.forms {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* Responsividade (Desktop) - Até eu não compreendi o comportamento desse CSS*/


@media (min-width: 768px) {
    :root {
        --input-width: 23.813em;
        --input-height: 3.5em;
    }

    .geometric {
        width: 25em;
        height: 25em;
        border-radius: 2.5em;
        padding: 2em;
    }

    .container_options {
        width: 27em;
        font-size: 0.8em;
        margin: 1.063em 0;
    }

    h1{
        
        font-size: 3.125em;
    }

    a[name="cadastro"] {
        font-size: 0.875em;
    }

    input[type="submit"] {
        font-weight: 800;
        margin-bottom: 1.063em;
    }

    /* Organização do ícone no título "Login" */

    .login_icon {
        display: flex;
        align-items: center;
        justify-content: center;
    
        color: var(--cor-primaria);
    }
    
    span[id="login"] {
        font-size: 3.125em;
    }

    main[class="forms"] {
        display: flex;
    }
/*
    p[id="Taskea"] {
        font-size: 8em;
        font-weight: 900;
        letter-spacing: -8px;
    }

    span[id="check"] {
        font-size: 1.875em;
    }

    img[id="background"] {
        width: 91.102em;
        height: 68.438em;
    }

    .container_background {
        display: flex;
    }
        */
}